body {
  font-family: 'Stick-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#board {
  width: 90%;
  margin: 20px auto;
}

#announcements {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.announcement-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#announcement-list {
  margin-top: 20px;
}

.announcement-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.announcement-item:last-child {
  border-bottom: none;
}

.announcement-content {
  margin-top: 10px;
}

button {
  cursor: pointer;
}

#post-form {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
}

#post-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #000080;
  color: white;
}

#post-button:hover {
  background-color: #003366;
}

.edit-delete-btns {
  margin-top: 10px;
}

button.edit-btn, button.delete-btn {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.edit-btn:hover, button.delete-btn:hover {
  background-color: #004b8c;
}
